<div class="tile-content">
  <div class="title-wrapper flex">
    <div class="title-icon">
      <fa-icon class="icon" [icon]="titleIcon"></fa-icon>
    </div>

    @if (small$ | async) {
    <h3 class="tile-title" (click)="onUrlClicked(item.url)" [ngClass]="{ 'has-link': !!item.url }">{{ item.title }}</h3>
    } @else {
    <h1 class="tile-title" (click)="onUrlClicked(item.url)" [ngClass]="{ 'has-link': !!item.url }">{{ item.title }}</h1>
    }

  </div>
  @if (item.url) {
  <div class="share-icon" (click)="onShareClicked(item)">
    <fa-icon class="icon" [icon]="faShare"></fa-icon>
  </div>
  }
  <div class="tile-content-container flex">
    <div class="user news-detail flex">
      <fa-icon class="icon" [icon]="faUser"></fa-icon>
      <span>{{ item.by }}</span>
    </div>

    <div class="time news-detail flex">
      <fa-icon class="icon" [icon]="faClock"></fa-icon>
      <span>{{ item.time | localeDate }}</span>
    </div>

    <div class="type news-detail flex">
      <fa-icon class="icon" [icon]="faNewspaper"></fa-icon>
      <span>{{ item.type }}</span>
    </div>

    @if ((item.kids || []).length > 0) {
    <div class="comment news-detail flex">
      <fa-icon class="icon" [icon]="faComment"></fa-icon>
      <span>{{ item.kids?.length }}</span>
    </div>
    }

    <div class="score news-detail flex">
      <fa-icon class="icon" [icon]="faStar"></fa-icon>
      <span>{{ 'score: ' + item.score }}</span>
    </div>

    @if (item.text) {
    <div class="text news-detail flex">
      <fa-icon class="icon" [icon]="faBook"></fa-icon>
      <!-- <div [innerHTML]="item.text"></div> -->
    </div>
    } @if (item.url) {
    <div class="has-link-icon">
      <fa-icon class="icon" [icon]="faUpRightFromSquare"></fa-icon>
    </div>
    }
  </div>
</div>
