@import '../../../variables';

.tile-content {
  margin: 5px;

  .tile-title {
    color: #ff95b9;
  }

  .tile-content-container {
    flex-wrap: wrap;

    .icon {
      margin: 0 5px 0 5px;
    }

    .news-detail {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
