<div id="header" class="header sticky">
  <div class="link-elements">
    <div class="header-link"><a [routerLink]="'/news/top'" routerLinkActive="active-link">top</a>|</div>
    <div class="header-link"><a [routerLink]="'/news/ask'" routerLinkActive="active-link">ask</a>|</div>
    <div class="header-link"><a [routerLink]="'/news/show'" routerLinkActive="active-link">show</a>|</div>
    <div class="header-link"><a [routerLink]="'/news/job'" routerLinkActive="active-link">job</a></div>
  </div>
</div>
