<app-header-toolbar [title]="title"></app-header-toolbar>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer class="drawer-sidenav" mode="side" position="end" [opened]="isDrawerOpened$ | async">
    <h2>Hacker news</h2>

    <h4>Layout type:</h4>
    <mat-button-toggle-group name="fontStyle" aria-label="Layout" value="{{ layoutType$ | async }}" (change)="onLayoutTypeChanged($event)">
      <mat-button-toggle value="card">Card</mat-button-toggle>
      <mat-button-toggle value="grid">Grid</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <div class="wrapper" appScrollNearEnd (nearEnd)="nearEnd.next()">
      <div class="content" [style.width]="(small$ | async) === true ? 100 + '%' : 80 + '%'">
        @if((layoutType$ | async) === LayoutType.Card) {
          @if (entities.length > 0) {
          <div class="grid-container">
            @for (item of entities; track item.id) {
            <!-- todo: review card height without wrapper -->
            <app-card [item]="item"></app-card>
            }
          </div>
          }
        }

        @if((layoutType$ | async) === LayoutType.Grid) {

          <mat-grid-list cols="1" rowHeight="130px" gutterSize="7px">
            @for (item of entities; track item.id; let idx = $index,  e = $even) {
              <mat-grid-tile
              class="grid-tile"
              [colspan]="1"
              [rowspan]="1"
              [style.background]="'#404040f5'">
                <app-tile-element [item]="item" class="tile-element"></app-tile-element>
              </mat-grid-tile>
            }
          </mat-grid-list>
        }

         @if (isLoading) {
        <div class="loading-wrapper">
          <mat-spinner
            class="loading-spinner"
            diameter="{{ (small$ | async) === false ? 100 : 50 }}"
            strokeWidth="{{ (small$ | async) === false ? 10 : 5 }}"
            class="center"
          ></mat-spinner>
        </div>
        }
      </div>
    </div>
  </div>
</mat-drawer-container>
