@import '../../../../variables';
$margin: 100;
$linkColor: #7a7878;
$sidenavWidth: 325px;

// Todo: set opacity background
.scrolling-wrapper {
  padding-top: 30 + px;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/background-security.svg');
  background-repeat: repeat-y;
}

.content {
  width: 80%;
  height: 100%;
  margin: auto;

  .grid-tile {
    border: 1px solid #515151;
    border-radius: 10px;
  }

  .grid-container {
    display: grid;
    column-gap: 75px;
    row-gap: 75px;

    //Ref.:
    // https://github.com/thisiszoaib/angular-card-grid-css
    // https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.center {
  margin: 50px auto 50px auto;
}

.loading-wrapper {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  position: relative;

  .loading-spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

// ========== sidenav ==========
// workaround for fixing the height of the drawer-container (initial page load)
.initial-loading {
  position: absolute;
  top: 60px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.drawer-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.drawer-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.drawer-sidenav {
  min-width: $sidenavWidth;
  padding: 20px;
}

.tile-element {
  transition: 0.5s background-color;

  &:hover {
    background-color: #737373;
    transition: 0.5s background-color;
  }

  width: 100%;
  height: 100%;
}

.drawer-footer {
  width: $sidenavWidth;
  left: calc(100vw - $sidenavWidth);

  position: fixed;
  bottom: 75px;

  .footer-wrapper {
    position: relative;
    width: 100%;
    height: 100px;

    .footer-text {
      > a {
        color: $pink;
        text-decoration: none;
      }
      top: 45px;
      width: 175px;
      text-align: center;
    }
  }

  .git-icon {
    top: 5px;
    width: 35px;
    height: 35px;
  }
}
