@import '../../../variables';

.header-toolbar {
  background-color: #555555;

  .bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .title {
    color: $pink;
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
  }

  .hamburger-icon {
    position: absolute;
    right: 10px;
  }

  .center {
    margin: 50px auto 50px auto;
  }
}
