@import '../../../variables';

.header-toolbar {
  background-color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .center {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right {
    display: flex;
    align-items: center;
  }

  .bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .title-link {
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s opacity;

    &:hover:not(.disabled) {
      opacity: 0.8;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
    }

    .title {
      color: $pink;
      font-size: 50px;
      margin: 0;
      line-height: 56px;
    }
  }
}
