@import '../../../variables';

.header-toolbar {
  background-color: #555555;
  .bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .title {
    margin: auto;
    margin-top: 20px;
    color: $pink;
    font-size: 50px;
    text-align: center;
  }

  .hamburger-icon {
    position: absolute;
    right: 10px;
  }
}
