<mat-toolbar class="toolbar-nav">
  <button class="nav-element" mat-flat-button routerLink="/news/top" routerLinkActive="active-link" matRipple>
    <mat-icon class="material-icons color_blue"> favorite</mat-icon>
    <span class="nav-element-text">Top {{ (small$ | async) === false ? ' stories' : '' }}</span>
  </button>

  <button class="nav-element" mat-flat-button routerLink="/news/ask" routerLinkActive="active-link" matRipple>
    <mat-icon class="material-icons color_blue">help </mat-icon>
    <span class="nav-element-text">Ask {{ (small$ | async) === false ? ' stories' : '' }}</span>
  </button>
  <app-date-picker
    class="date-picker hacker-date-picker"
    [date]="date"
    routerLink="/news/{{ date }}"
    routerLinkActive="active-link"
    (dateChanged)="onDateChanged($event)"
  ></app-date-picker>

  <button class="nav-element" mat-flat-button routerLink="/news/show" routerLinkActive="active-link" matRipple>
    <mat-icon class="material-icons color_blue">assignment_turned_in </mat-icon>
    <span class="nav-element-text">Show {{ (small$ | async) === false ? ' stories' : '' }}</span>
  </button>

  <button class="nav-element" mat-flat-button routerLink="/news/job" routerLinkActive="active-link" matRipple>
    <mat-icon class="material-icons color_blue">work</mat-icon>
    <span class="nav-element-text">Job {{ (small$ | async) === false ? ' stories' : '' }}</span>
  </button>
</mat-toolbar>
