<mat-card class="hacker-card" (click)="onUrlClicked(item.url)">
  <mat-card-header>
    <anonymous-svg
      class="header-image"
      mat-card-avatar
      [fillColor]="'#e91e63'"
      [width]="50"
      [height]="50"
      [borderRadius]="50"
    ></anonymous-svg>

    @if (item.title) {
    <mat-card-title class="card-title">{{ item.title }}</mat-card-title>
    }
    @if (item.by) {
    <mat-card-subtitle class="card-subtitle">{{ item.by }}</mat-card-subtitle>
    }
  </mat-card-header>

  <mat-card-content class="mat-card-content">
    <div class="flex-container">
      <div class="card-text-content">
        @if (item.type) {
          <div>type: {{ item.type }}</div>
        }
        @if (item.score) {
          <div>score: {{ item.score }}</div>
        }
        @if (item.time) {
          <div>Date: {{ item.time | localeDate }}</div>
        }
      </div>
    </div>
    @if (item.url) {
    <a class="outer-link" [href]="item.url" (click)="$event.preventDefault()">
      <span class="outer-link-text">
        {{ item.url }}
      </span>
    </a>
    }
  </mat-card-content>
</mat-card>
