@import './variables';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #303030;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex {
  display: flex;
}

// ======== hide mat-drawer's scrollbar ========
.drawer-container {
  mat-drawer-content {
    overflow: hidden !important;
  }
}

// ======== mat date picker overrides ========
.hacker-date-picker {
  top: 20px !important;
  position: absolute;

  .mat-mdc-form-field,
  .mat-mdc-text-field-wrapper,
  .mat-mdc-text-field-wrapper .mdc-text-field,
  .mat-mdc-text-field-wrapper .mdc-text-field::before,
  .mat-mdc-form-field-infix,
  .mat-mdc-input-element {
    background-color: transparent !important;
  }

  .mat-mdc-form-field {
    height: 100px;
  }

  .mat-mdc-text-field-wrapper {
    width: 115px;

    .mat-mdc-form-field-flex {
      display: flex !important;
      flex-direction: column;
      align-items: center;

      .mat-mdc-form-field-infix {
        top: -16px;
        left: 12px;
        padding: 0;
        width: 100px;
        min-height: 33px;
        order: 1;
      }

      .mat-mdc-input-element {
        color: white !important;
        font: 13.3333px Arial !important;
        font-weight: 600 !important;
      }

      .mat-mdc-form-field-icon-suffix {
        order: -1;
        left: 0;
      }
    }
  }
}

.center-horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
